amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
defusedxml==0.4.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.7
django-allauth==0.27.0
django-cors-headers==1.1.0
django-geoposition==0.3.0
django-mailgun==0.9.1
django-rest-auth==0.8.1
django-sslserver==0.19
django-toolbelt==0.0.1
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
gunicorn==19.6.0
itsdangerous==0.24
kombu==3.0.35
oauthlib==2.0.0
Pillow==3.2.0
psycopg2==2.6.1
PyJWT==1.4.0
python3-openid==3.0.10
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
static3==0.7.0
