amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.7
django-cors-headers==1.1.0
django-mailgun==0.9.1
django-sslserver==0.19
django-toolbelt==0.0.1
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
gunicorn==19.6.0
itsdangerous==0.24
kombu==3.0.35
Pillow==3.2.0
psycopg2==2.6.1
PyJWT==1.4.0
pytz==2016.6.1
requests==2.11.1
six==1.10.0
static3==0.7.0
