{% extends "admin/base_site.html" %}
{% load static i18n admin_urls admin_static %}

{% block extrahead %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'highcharts/highcharts.js' %}"></script>
    {% if donaciones %}
        {% load chartit %}
        {{ donaciones|load_charts:"chart-container" }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">
        {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; {% trans 'Estadísticas' %}
    </div>
{% endblock %}

{% block content %}
    <form method="post" id="donacion_estadisticas_form"
        {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <div>
            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}
        </div>
        <div class="submit-row">
            <input type="submit" value="Generar gráfica" class="default"/>
        </div>

    </form>
    <div id="chart-container">
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
